/* =================================
  Base Element Styles
==================================== */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #4a4a4a;
}

h1 {
  margin-top: 0;
}

h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  margin: auto;
}

/* =================================
  Base Layout Styles
==================================== */

.main-header {
  background-color: #fafafa;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-footer {
  background-color: #fafafa;
}

/* ---- Navigation ---- */


/* =================================
  Media Queries
==================================== */

/* ---- Tablet Size ---- */

@media (min-width: 769px) {

  .container {
    width: 90%;
    margin: 0 auto;
   }


/* ---- Float Clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
