/* =================================
  Base Element Styles
==================================== */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #4a4a4a;
}

h1 {
  margin-top: 0;
}

h2 {
  padding-top: 20px;
}

h3 {
  text-transform: uppercase;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #fff;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  line-height: 1.6em;
  padding: 10px 20px 20px 20px;
}

img {
  max-width: 100%;
  margin: auto;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation and Main Header ---- */

.main-header {
  background-color: #f7f5f5;
}

/* ---- Projects Container ---- */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 25px;
  text-align: center;
}

/* ---- Contact and Main Footer ---- */

.contact {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f5f5;
  text-align: center;
  padding: 40px 25px;
}

/* ---- Float Clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

  .container {
    width: 90%;
    margin: 0 auto;
   }
